* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
}
header .container {
  width: 95%;
  position: relative;
}
header .container .nav {
  background-color: yellow;
  position: relative;
}
header .container .nav img {
  width: 60%;
}
header .container .nav .collapseDiv ul {
  display: flex;
  gap: 25px;
}
header .container .nav .collapseDiv ul li {
  font-family: "Oswald", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}
header .container .nav .collapseDiv .basket {
  font-size: 20px;
}
header .container .nav .collapseDiv .basket:hover {
  color: #FF2800;
  transition: 0.3s;
}
header .container .nav .collapseDiv .search {
  background-color: #FF2800;
  width: 10%;
  color: white;
  font-family: "Oswald", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Ubuntu", sans-serif;
  border: 3px solid #FF2800;
}
header .container .nav .collapseDiv .search:hover {
  background-color: white;
  color: #FF2800;
  border: 3px solid black;
  transition: 0.3s;
}
header .container .homediv {
  background-color: white;
  color: black;
  width: 15%;
  padding: 10px;
  display: flex;
  display: none;
  gap: 15px;
  flex-direction: column;
  position: absolute;
  top: 95px;
  left: 230px;
}
header .container .homediv a {
  color: black;
  text-decoration: none;
}
header .container .home:hover {
  background-color: red;
}
header .container .home:hover .homediv {
  display: block;
}