*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
header{
  width: 100%;
  .container{
    width: 95%;
  .nav{
    img{
        width: 60%;
    }
.collapseDiv{
    ul{
        li{
            a{
                &:hover{
                    color: $main-color;
                }
            }
        }
        width: 70%;
        display: flex;
       gap: 30px;
       font-size: 18px;
        .nav-link.home:hover + .homediv,
.nav-link.platform:hover + .platform-div,
.nav-link.news:hover + .newsdiv,
.nav-link.shop:hover + .shopdiv,
.nav-link.pages:hover + .pagesdiv {
    display: block;
    transition: 0.3s;
}
.homediv{
    display: none;
    position: absolute;   
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    background-color: white;
    border-radius: 5px;
    gap: 20px;
    background-color: white;
    padding-right: 15px;
    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        color: $main-color;
        transition: 0.3s;
    }
    &:hover{
        display: block;
    }
}
.platform-div{
    width: 76%;
    display: none;
    position: absolute;   
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    background-color: white;
    border-radius: 5px;
    gap: 20px;
    background-color: white;
    padding-right: 15px;
    &:hover{
        display: block;
    }
   .platformdiv{
    display: flex;
    gap: 30px;
padding: 0px;
}
.cars{
    width: 20%;
    h1{
        font-size: 25px;
        font-weight: bolder;
    }
    p{
        i{
            margin-right: 5px;
        }
        font-size:18px;
    }
}
.parts{
    width: 20%;
    h1{
        font-size: 25px;
        font-weight: bolder;
    }
    p{
        i{
            margin-right: 5px;
        }
        font-size:18px;
    }
}
.industry{
    background-image: url(/assets/img/autobid-mega-img-v2.jpg);
    background-size: cover;
    width: 60%;
    padding: 0px;
    h1{
        color: white;
        font-size: 25px;
        margin-top: 30px;
        margin-left: 10px;
    }
    p{
        color: white;
        margin-left: 10px;
    }
    button{
        background-color: $main-color;
        color: white;
        border: 2px solid $main-color;
        margin-left: 10px;
            width: 30%;
            border-radius: 5px;
            padding: 5px;
        &:hover{
            background-color: white;
            border: 2px solid black;
            color: $main-color;
            transition: 0.3s;
            
        }
    }
}
}
.newsdiv{
    display: none;
    position: absolute;   
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    background-color: white;
    border-radius: 5px;
    gap: 20px;
    background-color: white;
    padding-right: 15px;
    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        color: $main-color;
        transition: 0.3s;
    }
    &:hover{
        display: block;
    }
}
.shopdiv{
    display: none;
    position: absolute;   
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    background-color: white;
    border-radius: 5px;
    gap: 20px;
    background-color: white;
    padding-right: 15px;
    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        color: $main-color;
        transition: 0.3s;
    }
    &:hover{
        display: block;
    }
}
.pagesdiv{
    display: none;
    position: absolute;   
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    background-color: white;
    border-radius: 5px;
    gap: 20px;
    background-color: white;
    padding-right: 15px;
    a{
        text-decoration: none;
        color: black;
    }--
    a:hover{
        color: $main-color;
        transition: 0.3s;
    }
    &:hover{
        display: block;
    }
}
.homediv,
.platform-div,
.newsdiv,
.shopdiv,
.pagesdiv {
    display: none;
   
}
    }
    .basket{
        font-size: 20px;
        &:hover{
            color: $main-color;
            transition: 0.3s;
        }
    }
    .sell{
        background-color: $main-color;
        width: 15%;
        color: white;
        border: 2px solid $main-color;
        font-size: 20px;
        &:hover{
            background-color: white;
            color: $main-color;
            border: 2px solid black;
            transition: 0.3s;
        }
    }
}

  }
    
    }
   
     }
main{
    #entrancesection{
        background-color: red;
        width: 100%;
height: 660px;
      
        .carousel{
            width: 100%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
                position: relative;
            }
            .mercedesdiv{
position: absolute;
bottom: 80px;
    left: 60px;
$avatar-size: 32px;
$body-background: #353535;


.wrapper {
  text-align: center;
  h1 {
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;
    background: linear-gradient(to right,#010d18 10%, #02131b 50%, #57d75b 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;
    display: inline-block;
    span{
        font-size: 25px;
    }
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

  
}
  
.bmwdiv{
    position: absolute;
    bottom: 80px;
        left: 60px;
    $avatar-size: 32px;
    $body-background: #353535;
    
    
    .wrapper {
      text-align: center;
      h1 {
        color: #fff;
        font-size: 45px;
        text-transform: uppercase;
        font-weight: 700;
        font-family: "Josefin Sans", sans-serif;
        background: linear-gradient(to right,#010d18 10%, #02131b 50%,#7f3648 60%);
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
     
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 1.5s linear infinite;
        display: inline-block;
        span{
            font-size: 25px;
        }
      }
    }
    
    @keyframes textclip {
      to {
        background-position: 200% center;
      }
    }
    
      
    }

    .galendwagendiv{
        position: absolute;
        bottom: 80px;
            left: 60px;
        $avatar-size: 32px;
        $body-background: #353535;
        
        
        .wrapper {
          text-align: center;
          h1 {
            color: #fff;
            font-size: 45px;
            text-transform: uppercase;
            font-weight: 700;
            font-family: "Josefin Sans", sans-serif;
            background: linear-gradient(to right,#010d18 10%, #02131b 50%,blue 60%);
            background-size: auto auto;
            background-clip: border-box;
            background-size: 200% auto;
            color: #fff;
            background-clip: text;
         
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: textclip 1.5s linear infinite;
            display: inline-block;
            span{
                font-size: 25px;
            }
          }
        }
        
        @keyframes textclip {
          to {
            background-position: 200% center;
          }
        }
        
          
        }


.ferraridiv{
    position: absolute;
 bottom: 130px;
    left: 80px;
    $avatar-size: 32px;
    $body-background: #353535;
    
 
   

  
    .wrapper {
      text-align: center;
      h1 {
        color: #fff;
        font-size: 45px;
        text-transform: uppercase;
        font-weight: 700;
        font-family: "Josefin Sans", sans-serif;
        background: linear-gradient(to right,#010d18 10%, #02131b 50%, #F5E302 60%);
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
      
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 1.5s linear infinite;
        display: inline-block;
        span{
            font-size: 25px;
        }
      }
    }
    
    @keyframes textclip {
      to {
        background-position: 200% center;
      }
    }
    
      
    } 
}

        }
       #aboutsection{
        width: 100%;
        background-image: url(/assets/img/autobid-main_about-1.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
padding-top: 30px;
        .container{
            width: 95%;
         display: flex;
         padding-top: 30px;
         .row{
      padding-top: 30px;
      padding-bottom: 30px;
            .abouttext{
                display: flex;
                flex-direction: column;
              padding-top:30px;
              padding-bottom: 30px;
              h3{
                font-size: 20px;
                color: $main-color;
              }
              h1{
                font-size:35px;
                font-weight: bolder;
                margin-bottom: 30px;
              }
              p{
                color: gray;
                margin-bottom: 30px;
              }
              ul{
                li{
                    font-weight: 200;
                    color: rgb(70, 70, 70);
                    span{
                        color: black;
                        font-weight: bolder;
                       } 
                }
         
              }
              img{
                width: 50%;
              }
            }
         }
        }
       }
#howitworks{
    width: 100%;
    margin-bottom: 30px;
    .container{
        width: 95%;
        .title{
            text-align: center;
            margin-top: 30px;
            padding-top: 30px;
            margin-bottom: 30px;
            h3{
                color: $main-color;
                font-size: 20px;
            }
            h1{
                color: black;
                font-weight: bolder;
            }
        }
        .row{
            position: relative;
            padding-bottom: 30px;
            .arrow1{
                position: absolute;
                width: 20%;
                left: 300px;
                top: 50px;
            }
            .arrow2{
                position: absolute;
                width: 20%;
                right: 300px;
                bottom: 10px;
            }
            .howitworksdiv{
                margin-top: 30px;
                margin-bottom: 30px;
                display: flex;
                padding: 30px;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                img{
                    margin-bottom: 20px;
                }
                h1{
                    font-size: 25px;
                    font-weight: bolder;
                }
            }
        }
    }
}
#demonstrator{
    width: 100%;
  margin-bottom: 30px;
    .container{
        width: 95%;
.row{
    .waviy {
        position: relative;
        text-align: center;
        margin-bottom: 30px;
        margin-top: 30px;
        border-bottom: 3px dashed black;
      .p{
        color: red;
        font-size: 18px;
        font-weight: bolder;
      }
      }
      .waviy span {
        font-weight: bolder;
        position: relative;
        display: inline-block;
        font-size: 60px;
        color: black;
        text-transform: uppercase;
        animation: flip 2s infinite;
        animation-delay: calc(.2s * var(--i))
      }
      @keyframes flip {
        0%,80% {
          transform: rotateY(360deg) 
        }
      }
}    
      
    }
  
}
#offerssection{
    width: 100%;
    background-image: url(/assets/img/autobid-lots-bg.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
padding-top: 30px;
    .container{
        width: 95%;
     display: flex;
     padding-top: 30px;
     .row{
  padding-top: 30px;
  padding-bottom: 30px;
        .offerstext{
            display: flex;
            flex-direction: column;
          padding-top:30px;
          padding-bottom: 30px;
          h3{
            font-size: 20px;
            color: $main-color;
          }
          h1{
            font-size:35px;
            font-weight: bolder;
            margin-bottom: 30px;
          }
          p{
            color: gray;
            margin-bottom: 30px;
          }
          ul{
            li{
                font-weight: 200;
                color: rgb(70, 70, 70);
                span{
                    color: black;
                    font-weight: bolder;
                   } 
            }
     
          }
          img{
            width: 50%;
          }
        }
     }
    }
   }

#aboutcars{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    .container{
        width: 95%;
        .title{
            margin-bottom: 30px;
            text-align: center;
            h3{
                color: $main-color;
            }
            h1{
                font-weight: bolder;
            }
           
        }
        .row{
            .cars{
                padding: 20px;
                border-radius: 10px;
                box-shadow: 5px 5px 20px rgb(111, 111, 111);
                text-align: center;
                margin-bottom: 30px;
             img{
            width: 100%;
             }
             a{
                font-size: 20px;
                text-decoration: none;
                color: black;
                font-weight: bolder;
             }
            } 
.cars:hover{
    img{
        transform: translateY(-10px);
        transition: 0.5s;
    }
    a{
        color: $main-color;
        transition: 0.5s;
    }
}
         }
    }
}

#testimonials{
    width: 100%;
    background-image: url(/assets/img/autobid-main_about.jpg);
    background-size: cover;
    padding-bottom: 30px;
    .container{
        width: 95%;
        padding-bottom: 30px;
        .row{
            .testimonialstext{
                margin-top: 30px;
                h3{
                    margin-top: 30px;
                    font-size: 20px;
                    color: $main-color;
                }
                h1{
                    font-size: 40px;
                    font-weight: bolder;
                }
            }
            .carusels{
          margin-top: 30px;
          
          border-radius: 10px;
          box-shadow: 8px 8px 28px rgb(111, 111, 111);
          text-align: center;
          margin-bottom: 30px;
                .sheet-one{
                    padding: 30px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
background-color: white;
               border-radius: 10px;
                    h1{
                        font-size: 20px;
                        font-weight: bolder;
                      color: $main-color; 
                    }
                    p{
                        width: 60%;
                    }
                    .profilediv{
                        display: flex;
                        justify-content: center;
                        img{
                            width: 90px;
                            height: 90px;
                            border-radius: 10px;
                            margin-right: 10px;
                        }
                        .membername{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            p{
                                width: 100%;
                            }
                        }
                    }
                }
                .sheet-two{
                    padding: 30px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    background-color: white;
                    border-radius: 10px;

                    h1{
                        font-size: 20px;
                        font-weight: bolder;
                        color: $main-color;
                    }
                    p{
                        width: 60%;
                    }
                    .profilediv{
                        display: flex;
                        justify-content: center;
                        text-align: center;
                        img{
                           width: 90px;
                           height: 90px;
                            border-radius: 10px;
                            margin-right: 10px;
                        }
                        .membername{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
                .sheet-three{
                    background-color: white;
                    padding: 30px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    background-color: white;
                    border-radius: 10px;

                    h1{
                        font-size: 20px;
                        color: $main-color;
                        font-weight: bolder;
                    }
                    p{
                        width: 60%;
                    }
                    .profilediv{
                        display: flex;
                        justify-content: center;
                        img{
                            width: 90px;
                           height: 90px;
                            border-radius: 10px;
                            margin-right: 10px;
                        }
                        .membername{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
}


#newsletter{
width: 100%;
background-color: $main-color;
height: 300px;
margin-bottom: 30px;
.container{
    width: 95%;
    display: flex;
    justify-content: end;
    margin-bottom: 30px;
    img{
        margin-top: -30px;
        width: 80%;
    }
    .newslettertext{
        margin-top: 30px;
        height: 50%;
        padding-top: 30px;
        color: white;
       h1{
        font-size: 35px;
       }
    }
}
}

#news{
    width: 100%;
    padding-top: 30px;
    margin-top: 30px;
    .container{
        width: 95%;
        margin-top: 30px;
        padding-top: 30px;
        .title{
            padding-top: 30px;
            margin-top: 30px;
            h3{
                color: $main-color;
                font-size: 25px;
                font-weight: bolder;
            }
            h1{
                font-weight: bolder;
            }
        }
    }
}






}
// MEDIASCREENS
    
    @media screen  and (max-width:768px) {
        main{
            #aboutsection{
                background-image: none;
                background-color:#F2F2F2;
            }
        }
    }

    @media screen  and (max-width:768px) {
        main{
           #newsletter{
            height: 150px;
            .container{
                img{
                    width: 60%;
                }
                .newslettertext{
                    h1{
                        font-size: 20px;
                    }
                }
            }
           }
        }
    }


    @media screen  and (max-width:500px) {
        main{
           #newsletter{
            height: 80px;
            .container{
                img{
                    width: 45%;
                }
                .newslettertext{
                    display: flex;
                    
                    padding-top: 0px;
                    h1{
                        font-size: 20px;
                    }
                }
            }
           }
        }
    }

    @media screen  and (max-width:500px) {
        main{
           #newsletter{
            height: 80px;
            .container{
                img{
                    width: 45%;
                }
                .newslettertext{
                    display: flex;
                    
                    padding-top: 0px;
                    h1{
                        font-size: 13px;
                    }
                }
            }
           }
        }
    }


    @media screen  and (max-width:768px) {
        main{
            #offerssection{
       
                
                   background-image: none;
                    background-color:#F2F2F2;
                
              
            
            }
        }
    }

    @media screen  and (max-width:768px) {
        main{
            #testimonials{
       
                
        .container{
           .row{
            .carusels{
                .sheet-one{
                    h1{
                        font-size: 15px;
                      
                    }
                    p{
                        font-size: 13px;
                    }
                    .profilediv{
                        img{
                            height: 75px;
                            width: 75px;
                        }
                    }
                }
                .sheet-two{
                    h1{
                        font-size: 15px;
                    }
                    p{
                        font-size: 13px;
                    }
                    .profilediv{
                        img{
                            height:75px;
                            width: 75px;
                        }
                    }
                }
                .sheet-three{
                    h1{
                        font-size: 15px;
                    }
                    p{
                        font-size: 13px;
                    }
                    .profilediv{
                        img{
                            height: 75px;
                            width: 75px;
                        }
                    }
                }
            }
           }
        }
                
              
            
            }
        }
    }


    @media screen  and (max-width:480px) {
        main{
            #testimonials{
       
                
        .container{
           .row{
            .testimonialstext{
                h3{
                    font-size: 20px;
                }
                h1{
                    font-size:25px;
                }
            }
            .carusels{
                .sheet-one{
                    h1{
                        font-size: 12px;
                        
                    }
                    p{
                        font-size: 10px;
                    }
                    .profilediv{
                        img{
                            height: 60px;
                            width: 60px;
                        }
                    }
                }
                .sheet-two{
                    h1{
                        font-size: 12px;
                    }
                    p{
                        font-size: 10px;
                    }
                    .profilediv{
                        img{
                            height: 60px;
                            width: 60px;
                        }
                    }
                }
                .sheet-three{
                    h1{
                        font-size: 12px;
                    }
                    p{
                        font-size: 10px;
                    }
                    .profilediv{
                        img{
                            height: 60px;
                            width: 60px;
                        }
                    }
                }
            }
           }
        }
                
              
            
            }
        }
    }
 

    @media screen  and (max-width:390px) {
        main{
            #testimonials{
       
                
        .container{
           .row{
            .testimonialstext{
                h3{
                    font-size: 15px;
                }
                h1{
                    font-size:20px;
                }
            }
            .carusels{
                .sheet-one{
                    h1{
                        font-size: 8px;
                        
                    }
                    p{
                        font-size: 8px;
                    }
                }
                .sheet-two{
                    h1{
                        font-size: 8px;
                    }
                    p{
                        font-size: 8px;
                    }
                }
                .sheet-three{
                    h1{
                        font-size: 8px;
                    }
                    p{
                        font-size: 8px;
                    }
                }
            }
           }
        }
                
              
            
            }
        }
    }


    @media screen and (max-width:1200px) {
        main{
            #howitworks{
                .container{
                    .row{
                        .arrow1{
                            width: 20%;
                            left: 220px;
                            top: 80px;
                            
                        }
                        .arrow2{
                            width: 20%;
                          right: 220px;
                            bottom: 60px;
                         
                        }
                    }
                }
            }
        }
    }
 
    @media screen and (max-width:992px) {
        main{
            #howitworks{
                .container{
                    .row{
                        .howitworksdiv{
                            h1{
                                font-size: 15px;
                            }
                            p{
                                font-size: 15px;
                            }
                        }
                        .arrow1{
                            width: 20%;
                            left: 165px;
                            top: 80px;
                        }
                        .arrow2{
                            width: 20%;
                          right: 165px;
                            bottom: 60px;
                        }
                    }
                }
            }
        }
    }  
@media screen and (max-width:768px) {
    main{
        #howitworks{
            .container{
                .row{

                    .arrow1{
                        display: none;
                       }
                       .arrow2{
                        display: none;
                       }
                }
            }
        }
    }
}